<div class="container text-center">
  <h1>Speak to your coach</h1>
  <form action="/answer">
    <input type="text" name="query">
    <input type="submit" value="Go on!" class="btn btn-primary lg">
  </form>
</div>

